<ion-view title={{currentUrl}}>
    <ion-content style="padding: 1px;">

        <div class="item itemStyle" ng-click="goBack()">
            <div class="expBackTxt"><strong>.. /</strong></div>
        </div>

        <ul ng-repeat="item in (array | filter: {isDirectory: true} | orderBy: 'name')">
            <li class="item itemStyle" ng-click="folderClick(item.fullPath)">
                <i class="icon ion-folder expFolderIco"></i>
                <div class="expItemTxt">{{item.name}}</div>
            </li>
        </ul>

        <ul ng-repeat="item in (array | filter: {isFile: true} | orderBy: 'name')">
            <li class="item itemStyle" ng-click="fileClick(item.name)">
                <i class="icon ion-document expFileIco"></i>
                <div class="expItemTxt">{{item.name}}</div>
            </li>
        </ul>

    </ion-content>
</ion-view>

<ion-footer-bar align-title="left" class="expFooter noPadding">
    <div class="row noPadding">
        <div class="col col-50">
            <label class="item-input-wrapper" style="margin-top: 3px;">
                <input type="text" ng-model="fileName">
            </label>
        </div>
        <div class="col col-50">
            <a ng-show="mode == 'export'" class="button button-balanced floatL halfW" ng-click="save()"><h4 class="expBtnTxt">Save</h4></a>
            <a ng-show="mode == 'import'" class="button button-balanced floatL halfW" ng-click="load()"><h4 class="expBtnTxt">Open</h4></a>
            <a class="button button-stable floatR halfW" ng-click="cancel()"><h4 class="expBtnTxt">Cancel</h4></a>
        </div>
    </div>

</ion-footer-bar>