<ion-view title="Settings">
  <ion-content class="padding">

      <input type="number" ng-model="w1"/>

      <h3 class="myItem">Learning order:</h3>
      <ul class="list">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="radio" name="group" ng-model="settings.direction" value="direct" ng-click="directionClick('direct')">
              </label>
              <strong>Word <i class="ion-arrow-right-c"></i> Translation</strong>
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="radio" name="group" ng-model="settings.direction" value="reverse" ng-click="directionClick('reverse')">
              </label>
              <strong>Translation <i class="ion-arrow-right-c"></i> Word</strong>
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="radio" name="group" ng-model="settings.direction" value="both" ng-click="directionClick('both')">
              </label>
              <strong>Word <i class="ion-arrow-right-c"></i> Translation</strong> and <strong>Translation <i class="ion-arrow-right-c"></i> Word</strong>
          </li>
      </ul>

      <h3 class="myItem">Card frequency:&nbsp;&nbsp;&nbsp;&nbsp;<button class="button button-assertive button-small floatR btnWidth" ng-click="resetWeights()">Reset</button></h3>
      <div class="list">
          <label class="item item-input">
              <span class="input-label inputLabel"><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i></span>
              <strong>&nbsp; card weight:</strong>
              <input class="inputSettings" type="number" name="input" ng-model="settings.w1" min="0" max="99" required>
              <span class="input-label inputLabel"><i class="ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f1}}&nbsp;%</span>
          </label>
          <label class="item item-input">
              <span class="input-label inputLabel"><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i><i class="ion-ios7-star-outline"></i></span>
              <strong>&nbsp; card weight:</strong>
              <input class="inputSettings" type="number" name="input" ng-model="settings.w2" min="0" max="99" required>
              <span class="input-label inputLabel"><i class="ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f2}}&nbsp;%</span>
          </label>
          <label class="item item-input">
              <span class="input-label inputLabel"><i class="ion-ios7-star"></i><i class="ion-ios7-star"></i><i class="ion-ios7-star-outline"></i><i class="ion-ios7-star-outline"></i></span>
              <strong>&nbsp; card weight:</strong>
              <input class="inputSettings" type="number" name="input" ng-model="settings.w3" min="0" max="99" required>
              <span class="input-label inputLabel"><i class="ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f3}}&nbsp;%</span>
          </label>
          <label class="item item-input">
              <span class="input-label inputLabel"><i class="ion-ios7-star"></i><i class="ion-ios7-star-outline"></i><i class="ion-ios7-star-outline"></i><i class="ion-ios7-star-outline"></i></span>
              <strong>&nbsp; card weight:</strong>
              <input class="inputSettings" type="number" name="input" ng-model="settings.w4" min="0" max="99" required>
              <span class="input-label inputLabel"><i class="ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f4}}&nbsp;%</span>
          </label>
      </div>

      <h3 class="myItem">Progress: {{progress.toPrecision(3)}}&nbsp;%&nbsp;&nbsp;<button class="button button-assertive button-small floatR btnWidth" ng-click="resetProgress();">Reset</button></h3>

  </ion-content>
</ion-view>
