<ion-view title="Dashboard">
  <ion-content class="padding">

      <div class="row">
          <div class="col">
              <div class="centerTxt">
                  <h2 class="cursive lightGrayTxt">Current progress:</h2><br />
                  <h4 ng-style="colorDir">Word &#151;&#155; Translation: {{progressDir}} %</h4>
                  <h4 ng-style="colorRev">Translation &#151;&#155; Word: {{progressRev}} %</h4>
                  <h4 ng-style="colorBoth">W &#151;&#155; T and T &#151;&#155; W : {{progressBoth}} %</h4><br /><br />
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
              <h5 class="centerTxt">
                  Learning words was never easier:
              </h5>
          </div>
      </div>

      <div class="row">
          <div class="col col-50 col-offset-25">
              <button class="button button-balanced button-large button-full cursive" ng-click="start()">Start</button>
          </div>
      </div>

  </ion-content>
</ion-view>
