<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

    <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Cards" icon="icon ion-android-book bookIcon" href="#/tab/card">
        <ion-nav-view name="tab-card"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Dictionary" icon="icon ion-compose" href="#/tab/edit">
        <ion-nav-view name="tab-edit"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>

