
platforms/android/CordovaLib/ant-build/build.prop
platforms/android/ant-build/build.prop
platforms/android/ant-build/learnWords-debug-unaligned.apk
platforms/android/ant-build/learnWords-debug.apk
platforms/android/ant-build/learnWords.ap_
platforms/android/assets/www/js/ioService.js
platforms/android/assets/www/js/settingsController.js
platforms/android/assets/www/learnWords.v12.suo
platforms/android/assets/www/templates/tab-settings.html
platforms/android/res/xml/config.xml
www/learnWords.v12.suo
platforms/android/assets/www/css/style.css
platforms/android/assets/www/index.html
platforms/android/assets/www/js/app.js
platforms/android/assets/www/js/cardController.js
platforms/android/assets/www/js/cardService.js
platforms/android/assets/www/js/dashController.js
platforms/android/assets/www/js/editController.js
platforms/android/assets/www/templates/tab-card.html
platforms/android/assets/www/templates/tab-dash.html
platforms/android/assets/www/templates/tabs.html
platforms/android/ant-build/learnWords-release-unsigned.apk
platforms/android/ant-build/learnWords-release-unsigned.apk.d
platforms/android/CordovaLib/ant-build/classes.jar
platforms/android/CordovaLib/ant-build/classes/org/apache/cordova/BuildConfig.class
platforms/android/ant-build/classes.dex
platforms/android/ant-build/classes/com/ionicframework/learnwords854517/BuildConfig.class
platforms/android/ant-build/dexedLibs/classes-a11a7c690cbbe4a196663a1069b359de.jar
platforms/android/assets/www/templates/tab-edit.html
