.hasHeader {
    margin-top: 44px;
}

.hasFooter {
    margin-bottom: 44px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.MyContainerDiv {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.MyCenterDiv {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    background-color: rgb(47, 79, 79);
}

.cardHeight {
    height: 132px;
}

.MyBtn {
    max-width: 80%;
    margin: auto;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}

.inputLabel {
    max-width: 55px;
}



.centerTxt {
    text-align: center;
    color: rgb(169, 169, 169);
    font-family: cursive;
}

.progressBar {
    height: 10px;
    margin-bottom: 10px;
}

.noMargin {
    margin: 0px;
}

.bookIcon {
    font-size: 24px !important;
    margin-top: 13px !important;
}

.inputSettings {
    margin: 0px 0px 1px 10px !important;
    max-width: 35px;
}
