ion-content {
    background-color: rgb(47, 79, 79);
}



/* icons */
.bookIcon {
    font-size: 25px !important;
    padding-top: 5px;
}

.importIcon {
    font-size: 35px;
    margin: 0px 26px 0px 0px;
    color: rgba(47, 79, 79, 0.7);
}


/* DASH VIEW */
.centerTxt {
    text-align: center;
    color: rgb(169, 169, 169);
    font-family: cursive;
}



/* EDIT VIEW */
.gradient {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) !important;
    height: 50px;
    border: rgb(64, 64, 64);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.editList {
    position: relative;
}

.editItem {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 60px;
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 1px 0px 0px 0px;
}


.btnBar {
    background-color: rgb(39, 57, 57);
    bottom: 75px !important;
}


.btnTxt {
    font-size: 17px !important;
    padding: 17px 4px 0px 0px !important;
    height: 69px;
    border: solid rgba(0, 0, 0, 0.7) !important;
    border-width: 1px 1px 1px 0px !important;
}

.inputTxt {
    font-size: 19px !important;
}




/* CARD VIEW */
.progressBar {
    height: 10px;
    margin-bottom: 10px;
}



/* COMMON */
.noPadding {
    padding: 0px;
}

.cursive {
    font-family: cursive;
}

.lightGrayTxt {
    color: rgb(169, 169, 169);
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}



/* SETTINGS VIEW */
.settingsItem {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 1px 0px 0px 0px;
}

.myInputLabel {
    min-width: 164px;
}

.inputSettings {
    max-width: 60px;
}

.itemContent {
    font-size: 17px;
    color: rgb(68, 68, 68);
}

.inputWeight {
    max-width: 50px;
    min-width: 50px;
    margin: 0px 15px 0px 15px;
}


/* OVERRIDE */
.bar.bar-stable .title {
    color: rgba(47, 79, 79, 0.7);
    font-size: 25px !important;
}
