ion-content {
    background-color: rgb(47, 79, 79);
}



/* icons */
.bookIcon {
    font-size: 25px !important;
    padding-top: 5px;
}

.importIcon {
    font-size: 35px;
    margin: 0px 26px 0px 0px;
    color: rgba(47, 79, 79, 0.7);
}


/* DASH VIEW */
.centerTxt {
    text-align: center;
    color: rgb(169, 169, 169);
    font-family: cursive;
}

.dashBtnTxt {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: cursive;
    padding-top: 2px;
}

.dashFooter {
    display: block;
    background: rgb(47, 79, 79);
    bottom: 0px !important;
}

.dashAbout {
    margin: -48px 20px 0px 0px;
    color: rgb(128, 128, 128);
    font-weight: bold;
}


/* DICTIONARY VIEW */
.gradient {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) !important;
    height: 50px;
    border: rgb(64, 64, 64);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.editList {
    position: relative;
}

.editItem {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 60px;
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 1px 0px 0px 0px;
}


.btnBar {
    background-color: rgb(39, 57, 57);
    bottom: 75px !important;
}


.btnTxt {
    font-size: 17px !important;
    padding: 15px 0px 0px 0px !important;
    height: 69px;
    border: solid rgba(0, 0, 0, 0.7) !important;
    border-width: 1px 1px 1px 0px !important;
}

.inputTxt {
    font-size: 16px !important;
    padding: 0px !important;
}

.navBtn {
    background: rgba(169, 169, 169, 0.5) !important;
    font-weight: bold !important;
}



/* CARD VIEW */
.progressBar {
    height: 10px;
    margin-bottom: 10px;
}

.cardBtnTxt {
    padding-top: 4px;
}

.green {
    background-color: rgba(102, 204, 51, 0.7);
}

.blue {
    background-color: rgba(74, 135, 238, 0.9);
}




/* COMMON */
.noPadding {
    padding: 0px;
}

.cursive {
    font-family: cursive;
}

.lightGrayTxt {
    color: rgb(169, 169, 169);
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}





/* SETTINGS VIEW */
.settingsItem {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 1px 0px 0px 0px;
}

.myInputLabel {
    min-width: 164px;
}

.inputSettings {
    max-width: 60px;
}

.itemContent {
    font-size: 17px;
    color: rgb(68, 68, 68);
}

.inputWeight {
    max-width: 50px;
    min-width: 50px;
    margin: 0px 15px 0px 15px;
}

.settingsBtn {
    width: 60px;
}

.settingsBtnTxt {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}



/* EXPLORER */
.expFont {
    font-size: 30px;
}




/* OVERRIDE */
.bar.bar-stable .title {
    color: rgba(47, 79, 79, 0.7);
    font-size: 25px !important;
}
